<!-- BEGIN mailing -->
<div class="content-box">
<!-- Start Content Box -->
				
				<div class="content-box-header">
					
				<h3>{page_title}</h3>
					
				<div class="clear"></div>
				</div> 
				<!-- End .content-box-header -->
				
				<div class="content-box-content">
				
				<form method="post" name="sent_grid" id="sent_grid" autocomplete="off">
				
				<input type="hidden" value="1" name="sent_form">
					
					<div class="tab-content default-tab" id="tab1"> <!-- This is the target div. id must match the href of this div's tab -->
						
								<!-- main Bar -->
									{main_bar}
								<!-- main Bar -->
				
								<!-- notification -->
									{notification_event}
								<!-- notification -->
							
								   <table id="pagination">
									<thead>
											<tr>
												<td colspan="3">
													{pagination}
												</td>
											</tr>
										</thead>
									</table>
								  <table id="pagination">
									<thead>
											<tr>
												<td>
													{quantity_dropmenu}
												</td>
												<td>
													{trash_dropmenu}
												</td>
											</tr>
										</thead>
									</table>
									
								<!-- Filters -->
									<!-- BEGIN addemail -->
									<table id="filters1">
											<thead>
												<tr>
													<td>		
														<input class="button" type="button" value="Agregar Correo"  onclick="javascript:document.location.href='/mailingedit';"  style="float: right;"/>
													</td>
													
												</tr>
											</thead>
									</table>
									<table id="filters1">
											<thead>
												
												<tr>
													<td colspan="5" align="right">	
														<input class="button" type="button" value="Buscar"  onclick="javascript:document.sent_grid.submit();" style="float: right;"/>
														<input class="button" type="button" value="Reset"  onclick="javascript:document.location.href='mailing/?action=reset&sent_form=1';" style="float: right;"/>
													</td>
												</tr>
											</thead>
									</table>
									<!-- END addemail -->		
							<table id="grid">
								<thead>
									<tr>
										{name_order_by}
										{email_order_by}
										{sales_order_by}
										{question_order_by}
										{active_order_by}
										<th>Acciones</th>
									</tr>
							</thead>
						 	<tbody>
								<!-- BEGIN list -->
										<tr>
											<td>
										     {name}
											</td>
											<td>
											{email}
											</td>
											<td>
												{sales_active}
											</td>
											<td>
												{questions_active}
											</td>
											<td>
												{active_active}
											</td>
											<!-- actions -->	
											 <td>
												<!-- Icons -->
													  {edit_edit}
													  {delete_delete}
													  {restore_restore}
											 </td>
											<!-- actions -->
										</tr>
								<!-- END list -->
							
								<!-- BEGIN norecords -->
									<tr>
										<td colspan="7">Esta busqueda no produjo resultados</td>
									</tr>
								<!-- END norecords -->
								</tbody>
								
						</table>
						
					</div> <!-- End #tab1 -->
						{pagination}
				</form>
				</div> <!-- End .content-box-content -->
				
			</div> <!-- End .content-box -->
<!-- END mailing -->