<!-- BEGIN email -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; width:725px; margin: 0 auto; ">

<p><img alt="TVmia Una forma nueva de ver televisión" src="http://www.tvmia.com/images/header_email.jpg" style="height:138px; width:725px" /></p>


<p style="margin-top: 40px; margin-left: 30px; font-weight: bold;">DISTRIBUIDORES</p>

<table align="left" border="0" cellpadding="0" cellspacing="7" style="margin-left: 8px; height:138px; width:342px; background-image: url(''); background-repeat: repeat-y;">
	<tbody>
		<tr>
			<td>Nombre y Apellido:</td>
			<td>{name} {surname}</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>{email}</td>
		</tr>
		<tr>
			<td>Teléfono:</td>
			<td>{phone}</td>
		</tr>
		<tr>
			<td>Dirección:</td>
			<td>{address}</td>
		</tr>
		<tr>
			<td>Ciudad:</td>
			<td>{city}</td>
		</tr>
		<tr>
			<td>Estado:</td>
			<td>{state}</td>
		</tr>
		<tr>
			<td>Código Zip:</td>
			<td>{zip_code}</td>
		</tr>
		<tr>
			<td>Mensaje:</td>
			<td>{message}</td>
		</tr>
		<tr>
			<td>País:</td>
			<td>{country}</td>
		</tr>
		
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>


<p><img alt="Disfrute de la mejor programación de Argentina, Colombia y Perú. Llámanos al 1888 918 8642" src="http://www.tvmia.com/images/footer_email.jpg" style="height:154px; width:725px" /></p>


</body>
</html>
<!-- END email -->