<!-- BEGIN email -->
<html>
<head>
<title>email_Touch+Tvmia</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="silver" leftmargin="0" topmargin="0" marginwidth="0"
	marginheight="0" link="#ffffff" vlink="#ffffff">

	<table
		background="http://www.tvmia.com/images/touch_tvmia/email_touch_02.jpg"
		id="Table_01" width="640" border="0" cellpadding="0" cellspacing="0"
		align="center">

		<tr>
			<td><img
				src="http://www.tvmia.com/images/touch_tvmia/email_touch_01.jpg"
				width="640"></img></td>
			<td></td>
		</tr>
		<tr>
			<td width="640" style="color: #c0c0c0; text-decoration: none;">
				<p style="margin: 20px; text-decoration: none;">
					<font familiy="Verdana,Geneva" size="4"> Ingresa ya a <a
						href="www.tvmia.com">www.tvmia.com</a> y utiliza tus datos de
						acceso. Gracias a Touch+ y Tvmia, podrás disfutar de un mes gratis
						de la mejor programación de Colombia, Argentina y Perú.
					</font>
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<table>
					<tr>
						<td width="80" style="color: #ffffff"><p
								style="margin: 8px; font-size: 16px; margin-left: 20px;">
								<b>Nombre: </b>
							</p></td>
						<td width="260" style="color: #ffffff"><p
								style="margin: 10px; font-size: 14px">{nombre}</p></td>
						<td width="300" rowspan="6"><img
							src="http://www.tvmia.com/images/touch_tvmia/grilla_email_touch.png"></img></td>
					</tr>
					<tr>
						<td width="80" style="color: #ffffff"><p
								style="margin: 8px; font-size: 16px; margin-left: 20px;">
								<b>Apellido:</b>
							</p></td>
						<td width="220" style="color: #ffffff"><p
								style="margin: 8px; font-size: 14px">{apellido}</p></td>
					</tr>
					<tr>
						<td width="80" style="color: #ffffff"><p
								style="margin: 8px; font-size: 16px; margin-left: 20px;">
								<b>Teléfono: </b>
							</p></td>
						<td width="220" style="color: #ffffff"><p
								style="margin: 8px; font-size: 14px">{telefono}</p></td>
					</tr>
					<tr>
						<td width="80" style="color: #ffffff"><p
								style="margin: 8px; font-size: 16px; margin-left: 20px;">
								<b>Email: </b>
							</p></td>
						<td width="220" style="color: #ffffff"><p
								style="margin: 8px; font-size: 14px">{email}</p></td>
					</tr>
					<tr>
						<td width="80" style="color: #ffffff"><p
								style="margin: 8px; font-size: 16px; margin-left: 20px;">
								<b>Contraseña: </b>
							</p></td>
						<td width="220" style="color: #ffffff"><p
								style="margin: 8px; font-size: 14px">{password}</p></td>
					</tr>
					<tr>
						<td width="80" style="color: #ffffff"><p
								style="margin: 8px; font-size: 16px; margin-left: 20px;">
								<b>Serial: </b>
							</p></td>
						<td width="220" style="color: #ffffff"><p
								style="margin: 8px; font-size: 14px">{serial}</p></td>
					</tr>
					<tr>
						<td colspan="3" width="640" style="color: #c0c0c0; text-decoration: none;">
							<p style="margin: 20px; text-decoration: none;">
								<font familiy="Verdana,Geneva" size="4"> Si estas en tu
									tablet con Android haz <a
									href="https://play.google.com/store/apps/details?id=com.mycompany.tvmia_colombia">Click
										Aquí</a> y descarga automáticamente nuestra aplicación de Google
									Play. </br>
								</br> Si no estas en tu tablet con Android o no sabes bien cómo
									instalar tu aplicación, mira un tutorial haciendo <a
									href="http://www.tvmia.com/tuto_ir_google_play/">Click
									Aquí.</a></br>		
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td><img
				src="http://www.tvmia.com/images/touch_tvmia/email_touch_03.jpg"
				width="640" height="274"></img></td>
		</tr>

	</table>

</body>
</html>
<!-- END email -->